In [1]:
import pandas as pd

In [2]:
PAES_2023= 'ArchivoC_Adm2023.csv'
df = pd.read_csv(PAES_2023,sep=';')  # También puedes usar sep=';'

# Mostrar las primeras filas
print(df.head())

             ID_aux      RBD  COD_ENS  GRUPO_DEPENDENCIA RAMA_EDUCACIONAL  \
0  id_0000900170003  10584.0    363.0                3.0               H2
1  id_0000900470024  10250.0    363.0                3.0               H2
2  id_0000900670068  12667.0    310.0                2.0               H1
3  id_0001900070103   7006.0    310.0                2.0               H1
4  id_0001900070149   6752.0    610.0                3.0               T3

   SITUACION_EGRESO  CODIGO_REGION  CODIGO_COMUNA PROMEDIO_NOTAS  \
0                 5           13.0        13401.0           5,03
1                 1           13.0        13107.0            5,9
2                 5            1.0         1101.0              5
3                 5           14.0        14202.0            5,6
4                 5           14.0        14101.0           5,28

   PORC_SUP_NOTAS  ...  CLEC_INV_ACTUAL  MATE_INV_ACTUAL  HCSOC_INV_ACTUAL  \
0              80  ...            489.0            318.0               0.0
1              30  ...              NaN              NaN               NaN
2             100  ...              NaN              NaN               NaN
3              40  ...              NaN              NaN               NaN
4              70  ...              0.0              0.0               0.0

   CIEN_INV_ACTUAL  MODULO_INV_ACTUAL  CLEC_REG_ANTERIOR  MATE1_REG_ANTERIOR  \
0            416.0                BIO                NaN                 NaN
1              NaN                NaN                NaN                 NaN
2              NaN                NaN                NaN                 NaN
3              NaN                NaN                NaN                 NaN
4              0.0                NaN                NaN                 NaN

  HCSOC_REG_ANTERIOR  CIEN_REG_ANTERIOR  MODULO_REG_ANTERIOR
0                NaN                NaN                  NaN
1                NaN                NaN                  NaN
2                NaN                NaN                  NaN
3                NaN                NaN                  NaN
4                NaN                NaN                  NaN

[5 rows x 28 columns]

In [3]:
import os
print(os.path.isfile(PAES_2023))  # Devuelve True si el archivo existe

True

In [4]:
import os
print(os.getcwd())  # Imprime el directorio actual

/Users/claudiorojas/Documents/Ciencia de Datos/Data SFJ/2024/PAES

In [5]:
df = pd.read_csv(PAES_2023, sep=';', dtype={'Columna35': str})

In [6]:
df = pd.read_csv(PAES_2023, sep=';', low_memory=False)

In [7]:
# b) Calcular promedios por RBD para estudiantes con SITUACION_EGRESO = 1
filtered_data = df[df['SITUACION_EGRESO'] == 1]
columns_to_average = ['CLEC_REG_ACTUAL', 'MATE1_REG_ACTUAL', 'MATE2_REG_ACTUAL', 'HCSOC_REG_ACTUAL', 'CIEN_REG_ACTUAL']
rbd_averages = filtered_data.groupby('RBD')[columns_to_average].mean().reset_index()

In [8]:
# c) Calcular el promedio de CLEC_REG_ACTUAL y MATE1_REG_ACTUAL por RBD
columns_paes = ['CLEC_REG_ACTUAL', 'MATE1_REG_ACTUAL']
rbd_paes_average = filtered_data.groupby('RBD')[columns_paes].mean()
rbd_paes_average['PAES_PROMEDIO'] = rbd_paes_average.mean(axis=1)
rbd_paes_average = rbd_paes_average.reset_index()

In [9]:
# d) Crear un ranking de colegios basado en PAES_PROMEDIO
rbd_paes_average['RANK'] = rbd_paes_average['PAES_PROMEDIO'].rank(ascending=False, method='min')
rbd_paes_average = rbd_paes_average.sort_values('PAES_PROMEDIO', ascending=False).reset_index(drop=True)

In [10]:
# Función para consultar el lugar de un colegio dado su RBD
def obtener_posicion(rbd):
    resultado = rbd_paes_average[rbd_paes_average['RBD'] == rbd]
    if resultado.empty:
        return f"El RBD {rbd} no se encuentra en el ranking."
    else:
        return resultado[['RBD', 'PAES_PROMEDIO', 'RANK']]

In [11]:
# Mostrar resultados
print("Promedios obtenidos por estudiantes para cada RBD:\n", rbd_averages)
print("\nPromedio PAES por RBD:\n", rbd_paes_average)

Promedios obtenidos por estudiantes para cada RBD:
           RBD  CLEC_REG_ACTUAL  MATE1_REG_ACTUAL  MATE2_REG_ACTUAL  \
0         1.0       381.583333        382.083333        169.750000
1         4.0       637.910256        546.444444        238.478632
2         5.0       570.560606        502.636364        180.492424
3         7.0       467.042328        420.021164        205.089947
4         8.0       479.340000        424.320000        159.940000
...       ...              ...               ...               ...
3263  41658.0       615.097222        530.194444        182.125000
3264  41702.0       688.235294        571.627451        183.392157
3265  41780.0       641.375000        537.416667        290.708333
3266  41899.0       739.681818        674.181818        202.636364
3267  99999.0       577.307692        608.923077        372.307692

      HCSOC_REG_ACTUAL  CIEN_REG_ACTUAL
0           260.020833       205.291667
1           232.294872       370.696581
2           243.128788       288.371212
3           252.089947       197.910053
4           220.940000       225.200000
...                ...              ...
3263        179.097222       385.208333
3264        324.862745       329.254902
3265        339.750000       308.208333
3266        264.454545       543.181818
3267        348.769231       361.153846

[3268 rows x 6 columns]

Promedio PAES por RBD:
           RBD  CLEC_REG_ACTUAL  MATE1_REG_ACTUAL  PAES_PROMEDIO    RANK
0      8871.0       846.342857        897.485714     871.914286     1.0
1      8873.0       849.224138        871.844828     860.534483     2.0
2      9046.0       833.118519        876.970370     855.044444     3.0
3     24979.0       824.593750        882.234375     853.414062     4.0
4      8902.0       814.883333        886.983333     850.933333     5.0
...       ...              ...               ...            ...     ...
3263   9617.0        77.200000          0.000000      38.600000  3264.0
3264  41375.0         0.000000          0.000000       0.000000  3265.0
3265  10555.0         0.000000          0.000000       0.000000  3265.0
3266  15746.0         0.000000          0.000000       0.000000  3265.0
3267  20600.0         0.000000          0.000000       0.000000  3265.0

[3268 rows x 5 columns]

In [12]:
# Ejemplo de consulta de ranking
rbd = int(input("\nIngrese el RBD para consultar el ranking: "))
print(obtener_posicion(rbd))

Ingrese el RBD para consultar el ranking:  8609

        RBD  PAES_PROMEDIO   RANK
179  8609.0     720.725806  180.0